<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About myself</h2>
                <img class="masthead-avatar mb-5" src="images/1234.jpeg" alt="..." />
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">
                        My name is Harman Kaur. I am from India and I have studies science in my high school. Now, I am enrolled in the computer programming at Georgian College where I am learning about the web-design and number of programming langauges 
                        </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">In the era of technology, we need to know about the technology and latest softwares available in the market. I have designed number of projects in Ariduno and create web-forms as well.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">I am an international student and I am trying to find new opportunities in this carrer moreover I am a problem solver as well as I am trying to learn new things in the coding. </p></div>

                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.w3schools.com/">
                        w3schools
                    </a>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://www.w3schools.com/js/DEFAULT.asp">
                        learning JavaScript
                    </a>
                </div>
            </div>
        </section>